# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.animation as ani
import bar_chart_race as bcr
%matplotlib qt

In [2]:
x=np.linspace(0,10)
y=x**2
plt.plot(x,y)

In [3]:
cluster_size_count=pd.read_csv("./bin/cluster_statistics.dat",header=None,index_col=None,sep=" ")
cluster_size_count=cluster_size_count.drop(axis=1, columns=cluster_size_count.shape[1]-1)
cluster_size_count.columns=range(1,cluster_size_count.shape[1]+1)
no_of_molecules=cluster_size_count.shape[1]

In [4]:
cluster_size_count

,1,2,3,4,5,6,7,8,9,10,...,147,148,149,150,151,152,153,154,155,156
0,29,10,3,2,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,24,5,8,1,2,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,25,6,7,2,3,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,33,8,4,2,2,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,4,8,2,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,23,4,5,4,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
997,24,4,5,5,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
998,20,9,6,2,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
999,21,6,5,3,3,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,21,7,6,4,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
cluster_element_count=cluster_size_count.copy()
cluster_element_count*=range(1,cluster_element_count.shape[1]+1)

In [6]:
cluster_element_count

,1,2,3,4,5,6,7,8,9,10,...,147,148,149,150,151,152,153,154,155,156
0,29,20,9,8,10,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,24,10,24,4,10,6,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,25,12,21,8,15,6,7,0,9,0,...,0,0,0,0,0,0,0,0,0,0
3,33,16,12,8,10,6,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,24,8,5,12,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,23,8,15,16,15,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
997,24,8,15,20,0,0,7,0,0,10,...,0,0,0,0,0,0,0,0,0,0
998,20,18,18,8,5,6,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
999,21,12,15,12,15,0,7,8,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,21,14,18,16,10,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
plt.plot(range(1,cluster_element_count.shape[1]+1), cluster_element_count.sum(axis=0))

In [8]:
plt.plot(range(1,cluster_element_count.shape[1]+1), cluster_element_count.sum(axis=0)*range(1,cluster_element_count.shape[1]+1))

In [9]:
plt.plot(range(1,cluster_size_count.shape[1]+1), cluster_size_count.sum(axis=0))

In [10]:
cluster_size_count.sum(axis=0)[0:10]

1     26037
2      7836
3      3801
4      2126
5      1440
6       988
7       725
8       498
9       375
10      328
dtype: int64

In [11]:
bar_graph_df=cluster_element_count.copy()
bar_graph_df.loc[:,no_of_molecules//10+1]=bar_graph_df.loc[:,no_of_molecules//10+1:no_of_molecules].sum(axis=1)
bar_graph_df.drop(bar_graph_df.loc[:,no_of_molecules//10+2:no_of_molecules],axis=1,inplace=True)
bar_graph_df

      1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0     29  20   9   8  10   6   0   0   0   0   0   0   0   0   0  74
1     24  10  24   4  10   6  14   0   0   0   0   0   0   0   0  64
2     25  12  21   8  15   6   7   0   9   0   0   0   0  14   0  39
3     33  16  12   8  10   6   0   8   0   0   0   0   0   0   0  63
4     26   8  24   8   5  12   7   0   0   0   0  12  13   0   0  41
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
996   23   8  15  16  15   0   0   8   0   0   0   0   0   0   0  71
997   24   8  15  20   0   0   7   0   0  10   0   0   0   0   0  72
998   20  18  18   8   5   6   0   8   0   0   0   0   0   0   0  73
999   21  12  15  12  15   0   7   8   0   0   0   0  26   0   0  40
1000  21  14  18  16  10   0   7   0   0   0   0   0   0  14   0  56

[1001 rows x 16 columns]

In [12]:
fig=plt.figure()
plt.ylabel('No of molecules')
plt.xlabel('Cluster Size')
plt.xticks(bar_graph_df.columns)
#plt.yticks(bar_graph_df.columns)
plt.bar(bar_graph_df.columns,bar_graph_df.loc[0,:])

In [15]:
fig = plt.figure()
bar = ''
def buildmebarchart(i=int):
    fig.clf()
    iv = min(i, len(bar_graph_df.index)-1) #the loop iterates an extra one time, which causes the dataframes to go out of bounds. This was the easiest (most lazy) way to solve this :)
    objects = bar_graph_df.max().index
    y_pos = np.arange(len(objects))
    performance = bar_graph_df.iloc[[iv]].values.tolist()[0]
    plt.bar(y_pos, performance)
    plt.xticks(y_pos, objects)
    plt.ylim(0,no_of_molecules)
    plt.ylabel('No of molecules')
    plt.xlabel('Cluster Size')
    plt.title('Configuration \n' + str(bar_graph_df.index[iv]))

animator = ani.FuncAnimation(fig, buildmebarchart, interval=1)
#writervideo = ani.FFMpegWriter(fps=60)
#ani.save('NoOfMoleculesVSClusterSizeBarGraph.gif', writer=writervideo)
plt.show()