In [23]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.animation as ani
import bar_chart_race as bcr
import os
import subprocess
%matplotlib inline

In [25]:
df_bs4=pd.read_csv("./bin/Results_bs4.csv")
df_bs3=pd.read_csv("./bin/Results_bs3.csv")
df_bs2=pd.read_csv("./bin/Results_bs2.csv")
df_bs1=pd.read_csv("./bin/Results_bs1.csv")
df_bsh=pd.read_csv("./bin/Results_bsh.csv")
df_bs4_r=pd.read_csv("./bin/Results_bs4_r.csv")
df_bs3_r=pd.read_csv("./bin/Results_bs3_r.csv")
df_bs2_r=pd.read_csv("./bin/Results_bs2_r.csv")
df_bs1_r=pd.read_csv("./bin/Results_bs1_r.csv")
df_bsh_r=pd.read_csv("./bin/Results_bsh_r.csv")
df_monoclinic=pd.read_csv("./bin/Results_monoclinic.csv")
df_tetragonal=pd.read_csv("./bin/Results_tetragonal.csv")
#df_temp=pd.read_csv("./bin/Results.csv")
df=df_bs4_r

In [26]:
conf_number=df['Conf'].iloc[-1]+1
no_of_ION=df['ION'].sum()/conf_number
no_of_CION=no_of_ION
print(no_of_ION)

1664.0

In [27]:
df['Charge']=df['CION']-df['ION']
df['CION/ION']=df['CION']/df['ION']
df['SOL/ION']=df['SOL']/df['ION']
max_cluster_size=df['ION'].max()

In [29]:
df

,Conf,CNo.,ION,CION,SOL,R3,R4,R5,R6,R7,R8,R9,Charge,CION/ION,SOL/ION
0,0,0,1337,0,0,0,16,12,4,0,0,0,-1337,0.0,0.0
1,0,1,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
2,0,2,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
3,0,3,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
4,0,4,3,0,0,0,0,0,0,0,0,0,-3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42170,200,207,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
42171,200,208,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
42172,200,209,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
42173,200,210,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0
42174,200,211,1,0,0,0,0,0,0,0,0,0,-1,0.0,0.0

In [28]:
#df=df[df['ION']>200]
#df
print(df.mean())

Conf        100.853254
CNo.        104.708880
ION           7.930385
CION          0.000000
SOL           0.000000
R3            0.000000
R4            0.058945
R5            0.024541
R6            0.017261
R7            0.010717
R8            0.009555
R9            0.000000
Charge       -7.930385
CION/ION      0.000000
SOL/ION       0.000000
dtype: float64

In [38]:
df[df['ION']>1000]

,Conf,CNo.,ION,CION,SOL,R3,R4,R5,R6,R7,R8,R9,Charge,CION/ION,SOL/ION
0,0,0,1337,0,0,0,16,12,4,0,0,0,-1337,0.0,0.0
214,1,0,1330,0,0,0,15,15,4,0,0,0,-1330,0.0,0.0
433,2,0,1335,0,0,0,18,17,8,0,0,0,-1335,0.0,0.0
645,3,0,1357,0,0,0,18,17,21,0,0,0,-1357,0.0,0.0
852,4,0,1322,0,0,0,16,17,0,0,0,0,-1322,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41075,196,0,1281,0,0,0,20,5,0,0,0,0,-1281,0.0,0.0
41296,197,0,1339,0,0,0,17,8,0,0,0,0,-1339,0.0,0.0
41521,198,0,1351,0,0,0,17,10,7,8,8,0,-1351,0.0,0.0
41735,199,0,1311,0,0,0,2,0,0,0,0,0,-1311,0.0,0.0
41963,200,0,1322,0,0,0,13,7,11,5,10,0,-1322,0.0,0.0

In [36]:
(df.ION.unique())

array([1337,    1,    3,   18,    5,    6,    4,    2,    8, 1330,    7,
       1335,    9,   16, 1357, 1322,   14, 1278,   29,   10,   13, 1295,
         15, 1319,   11,   26, 1336,   12, 1351, 1315, 1365, 1314, 1352,
       1331, 1328, 1355, 1329, 1350, 1343, 1300, 1318, 1325,   32, 1369,
       1356, 1340, 1361, 1347, 1317, 1327, 1326, 1288,   31, 1310, 1307,
       1360, 1279, 1353, 1324, 1338,   22, 1341, 1333, 1334, 1382, 1316,
       1266, 1250,   21, 1309, 1294, 1293, 1301, 1306, 1349, 1378, 1342,
       1320, 1304, 1296, 1271,   24, 1321, 1273, 1289, 1287, 1277,   17,
       1313, 1312,   20,   19, 1264, 1339, 1332,   27, 1276, 1290, 1323,
       1298, 1280, 1267, 1311, 1257, 1268, 1292, 1302, 1281,   25, 1305,
       1282, 1291, 1259,   40, 1253, 1299,   23, 1303, 1262, 1297, 1283,
       1256,   28, 1270, 1240, 1248])

In [37]:
df.groupby('Conf').sum().mean()

CNo.        21970.631841
ION          1664.000000
CION            0.000000
SOL             0.000000
R3              0.000000
R4             12.368159
R5              5.149254
R6              3.621891
R7              2.248756
R8              2.004975
R9              0.000000
Charge      -1664.000000
CION/ION        0.000000
SOL/ION         0.000000
dtype: float64

In [64]:
freq=df['ION'].value_counts(sort=True)
cluster_size_freq=np.zeros(int(no_of_ION)+1)
#freq.columns=['ION_Size','Count']
for i in list(freq.index):
    cluster_size_freq[i]=int(freq.loc[i])
cluster_size_freq=pd.Series(cluster_size_freq)
cluster_size_freq = cluster_size_freq.iloc[1:]
cluster_count_freq=cluster_size_freq*pd.Series(cluster_size_freq.index)
print("Cluster Size->Avg:{} Max:{}".format(round(df['ION'].mean()),df['ION'].max()))
#print("Count->Avg:{} Max:{}".format(cluster_count_freq.mean(),cluster_count_freq.idxmax()))

trivial=cluster_count_freq[0:4].sum()
small=cluster_count_freq[4:7].sum()
medium=cluster_count_freq[7:13].sum()
large=cluster_count_freq[13:].sum()
trivial_percent=round(trivial/cluster_count_freq.sum()*100,2);
small_percent=round(small/cluster_count_freq.sum()*100,2);
medium_percent=round(medium/cluster_count_freq.sum()*100,2);
large_percent=round(large/cluster_count_freq.sum()*100,2);

print("Trivial: {} Small: {} Medium: {} Large: {} ".format(trivial,small,medium,large))
print("Trivial%: {} Small%: {} Medium%: {} Large%: {} ".format(trivial_percent,small_percent,medium_percent,large_percent))

plt.plot(cluster_size_freq.index,cluster_size_freq)
plt.plot(cluster_count_freq.index,cluster_count_freq)

Cluster Size->Avg:8 Max:1382
Trivial: 89777.0 Small: 12984.0 Medium: 6692.0 Large: 267186.0
Trivial%: 23.84 Small%: 3.45 Medium%: 1.78 Large%: 70.94

In [9]:
df_large=df[df['ION']>=6]

In [10]:
df_large

       Conf  CNo.   ION  CION   SOL  CION/ION   SOL/ION  Charge
0         0     0  1337  1135  4461  0.848915  3.336574    -202
5         0     5    18    14    70  0.777778  3.888889      -4
9         0     9     6     2    38  0.333333  6.333333      -4
10        0    10     6     5    32  0.833333  5.333333      -1
29        0    29     8     4    41  0.500000  5.125000      -4
...     ...   ...   ...   ...   ...       ...       ...     ...
41988   200    25     9     7    45  0.777778  5.000000      -2
42002   200    39     9     5    51  0.555556  5.666667      -4
42018   200    55     6     3    28  0.500000  4.666667      -3
42077   200   114     6     5    34  0.833333  5.666667      -1
42088   200   125     7     4    27  0.571429  3.857143      -3

[1448 rows x 8 columns]

In [32]:
df_large=df_large.drop(['Conf','CNo.'],axis=1)

In [34]:
df_large.describe()

               ION         CION          SOL     CION/ION      SOL/ION
count  1448.000000  1448.000000  1448.000000  1448.000000  1448.000000
mean    190.013122   158.793508   218.977901     0.586490     1.640363
std     451.651702   383.489133   735.351356     0.230075     1.644785
min       6.000000     0.000000     0.000000     0.000000     0.000000
25%       6.000000     3.000000     6.000000     0.428571     0.585957
50%       8.000000     5.000000     9.000000     0.577935     0.916667
75%      12.000000     8.000000    35.000000     0.818182     1.571429
max    1382.000000  1171.000000  4550.000000     1.285714     7.500000

In [37]:
(df.drop(['Conf','CNo.'],axis=1)).describe()

                ION          CION           SOL      CION/ION       SOL/ION
count  42175.000000  42175.000000  42175.000000  42175.000000  42175.000000
mean       7.930385      5.968322     15.455602      0.350590      6.210856
std       90.434681     76.660560    269.971367      0.507198    194.961404
min        1.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      1.000000      0.000000      0.500000
50%        1.000000      0.000000      2.000000      0.000000      1.000000
75%        2.000000      1.000000      4.000000      0.714286      3.000000
max     1382.000000   1171.000000  11329.000000      4.000000  10903.000000

In [41]:
df.sort_values(by=['SOL/ION'],ascending=False)

       Conf  CNo.  ION  CION    SOL  CION/ION  SOL/ION
28080   135    20    1     0  10903       0.0  10903.0
29466   141    27    1     0  10900       0.0  10900.0
5150     24   186    1     0  10869       0.0  10869.0
6379     30   176    1     0  10866       0.0  10866.0
19937    96   110    1     1  10860       1.0  10860.0
...     ...   ...  ...   ...    ...       ...      ...
15791    76   122    2     1      0       0.5      0.0
15790    76   121    1     0      0       0.0      0.0
31340   149   186    1     0      0       0.0      0.0
31345   149   191    1     0      0       0.0      0.0
42174   200   211    1     0      0       0.0      0.0

[42175 rows x 7 columns]

In [43]:
df[df['Conf']==29]

      Conf  CNo.   ION  CION  SOL  CION/ION   SOL/ION
6001    29     0  1356  1166  785  0.859882  0.578909
6002    29     1     2     0    2  0.000000  1.000000
6003    29     2     3     1    7  0.333333  2.333333
6004    29     3     1     0    2  0.000000  2.000000
6005    29     4     1     0    1  0.000000  1.000000
...    ...   ...   ...   ...  ...       ...       ...
6198    29   197     1     2    0  2.000000  0.000000
6199    29   198     1     0    1  0.000000  1.000000
6200    29   199     1     1    0  1.000000  0.000000
6201    29   200     1     0    1  0.000000  1.000000
6202    29   201     1     1    0  1.000000  0.000000

[202 rows x 7 columns]

In [44]:
df['SOL'].sum()/conf_number

3242.9850746268658